# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.NetworkLibraries.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Userstuff\Documents\School\Cours\Info\2021_1h\prog_reseau\note\csharp_networklibs\networklibraries\NetworkLibraries\.idea\.idea.NetworkLibraries\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
